* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: rgb(102, 101, 101);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #191938;
}

main {
  position: relative;
  width: 450px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32324e;
  overflow: hidden;
  border-radius: 20px;
}

main h1 {
  position: relative;
  color: white;
  width: auto;
  height: auto;
  background-color: #191938;
  font-size: 5em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-style: italic;
  z-index: 10;
}

main::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 320%;
  background: linear-gradient(#da0707, #0f9dfc);
  animation: animate 4s linear infinite;
}
main::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #191938;
  border-radius: 16px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.socialbtn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 11;
  transform: translate(0px, 100px);
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 20px;
}

.button:hover p:hover {
  background-color: white;
  color: #0f9dfc;
}

@media all and (max-width: 500px) {
  main {
    width: 300px;
    height: 100px;
  }
  main h1 {
    font-size: 3em;
  }
}
