* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: rgb(102, 101, 101);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #191938;
}

body.light{
  background: #e4e4e4;
  color: #191938;
}

.dark-mode{
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 45px;
  height: 20px;
  text-align: center;
}

main {
  border-radius: 20px;
}

main h1 {
  position: relative;
  transition: .2s;
}

body.light main h1 {
  color: #191938;
}




.socialbtn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 11;
  transform: translate(0px, 100px);
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 15px;
}

a.button:hover,
p:hover {
  background-color: white;
  color: #0f9dfc;
  border-radius: 100%;
}

@media all and (max-width: 500px) {
  main {
    width: 300px;
    height: 100px;
  }
  main h1 {
    font-size: 3em;
  }
}

/* @media (prefers-color-scheme: dark) {
  body   { background:  #333; color: white; }
  h1 { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  body   { background: white; color:  #555; }
  h1 { background:  #eee; color: black; }
} */